@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Inputs
@using StockTrader.Blazor.Client.Components.Code
@using Syncfusion.Blazor.Popups
@inherits StockTrader.Blazor.Client.Pages.Code.NewApproachBase
@*<h3>DefineApproach</h3>

    <div>
        <SfDateRangePicker Placeholder="Date Range To Test"></SfDateRangePicker>

        <div class="control-label">
            Starting Dollars Per Stock
        </div>
        <SfNumericTextBox TValue="double?" Format="c2" Value=10000></SfNumericTextBox>
        <div class="control-label">
            Discard any result that produces less than X percent
        </div>
        <SfNumericTextBox TValue="double?" Format="p2" Value=0.17 Max=1 Min=0 Step=0.01></SfNumericTextBox>

        <StockSelector @bind-Selections="ApproachDefinition.StockTickers" />

        <AlgorithmSelector />
    </div>*@